.f-wrapper {
  width: 100%;
  margin: 0 auto;
}

form {
  // max-width: 400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button {
    width: 100%;
  }
}
label{
  color: white;
  display: none;
}
input,
textarea,
select {
  // -webkit-column-width: 100%;
  width: 100% !important;
  padding: 10px;
  height: 42px;
  margin-bottom: 10px;
  border: 1px solid var(--clr-one) !important;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 16px;
  outline: none; /* Remove the focus outline */

 
}

select {
  option{
  
    background-color: var(--clr-one-light) !important;
    font-family: var(--ff-base) !important;
    font-size: 16px !important;
    color: white;
    margin-bottom: 30px !important;
    height: 80px !important;
    padding: 4rem 0 !important;

    &:hover{
      background-color: var(--clr-two-light) !important;
    }

  
  
}
}

input[type="date"] {
  width: 100% !important;
}

input:focus {
  outline: none !important;
}
// button[type="submit"] {
//     background-color: var(--clr-two);
//     color: white;
//     border: none;
//     cursor: pointer;
// }

// button[type="submit"]:hover {
//     background-color: var(--clr-one);
// }
